body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.header-section {
  background-image: url("/public/images/back-ground.png");
  height: 693px;
  padding: 26px 15px;
  background-repeat: no-repeat;
}

@media (min-width: 321px) {
  .header-section {
    background-image: url("/public/images/section-hero.png");
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: montserrat, sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 321px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    max-width: 1600px;
    max-height: 960px;
    width: 100%;
  }
}
.header-logo {
  width: 137px;
}

.header-navigation {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  row-gap: 45px;
}

@media (min-width: 321px) {
  .header-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10%;
    height: 10%;
    background-color: transparent;
  }
}
.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
}

.header-navigation-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
  margin-top: 162px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 321px) {
  .header-navigation-head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header-navigation-item {
  margin-bottom: 45px;
}

.master {
  width: 87px;
}

.catalog {
  width: 97px;
}

.life {
  width: 44px;
}

.contacts {
  width: 116px;
}

.header-navigation-item:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid #EAD6BD;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.header-other-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

hr {
  width: 280px;
  height: 0.5px;
  background-color: #DCDCDC;
  border: 0;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media (min-width: 321px) {
  hr {
    display: none;
  }
}
.header-other-navigation-number {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-inline: 45px;
}

.header-navigation-number {
  -webkit-box-ordinal-group: -31;
      -ms-flex-order: -32;
          order: -32;
}

.number {
  padding-block: 5px;
  padding-left: 14px;
}

.navigation-links {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  padding-bottom: 20px;
}

.navigation-cart {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
  fill: #000;
  text-decoration: none;
}

.header-navigation-profile {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  fill: #000;
  text-decoration: none;
}

.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 22px;
  height: 12px;
  cursor: pointer;
}

.burger-menu.active {
  margin-top: 25px;
  margin-right: 15px;
}

.burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger-menu.active::before {
  content: "";
  position: absolute;
  background-color: #000;
  width: 24px;
  bottom: 45%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
  height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-menu.active::after {
  width: 24px;
  height: 1px;
  top: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
  background-color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-menu span {
  background-color: #fff;
  width: 22px;
  height: 2.2px;
}

.burger-menu.active span {
  background-color: #fff;
  width: 22px;
  height: 2.2px;
  display: none;
}

.burger-menu:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2.2px;
  background-color: #fff;
  width: 15px;
}