$white: #fff;
$black: #000;
$semi-white: #F6F6F6;
$light-grey: #DCDCDC;
$dark-grey: #8F9295;
$light-black: #1E252C;
$beige:#EAD6BD;

$font-family:Montserrat, sans-serif;
$font-weight:600;

$button-padding:12px 45px;

$border:1px solid #000;

body {
  justify-items: center;
  margin: 0;
  font-family: $font-family;
}
.header-section {
  width: 320px;
  height: 693px;
  background-image: url("/public/images/back-ground.png");
  background-repeat: no-repeat;
  flex-direction: column;

}
@media (min-width: 321px) {
  .header-section {
    display: flex;
    background-image: url("/public/images/section-hero.png");
    max-width: 1600px;
    max-height: 960px;
    width: 100%;
    color: $white;
    justify-content: space-between;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: montserrat, sans-serif;
  justify-content: space-between;
}

.header-logo {
  width: 137px;
}

@media (min-width: 321px) {
  .header-logo {
    width: 234px;
  }
}
.header-navigation {
  display: none;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  row-gap: 45px;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 321px) {
  .header-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: transparent;
    justify-content: space-between;
    padding-inline: 25px;
    width: auto;
    height: auto;
    padding-top: 50px;
  }
}
@media (min-width: 1024px) {
  .header-navigation {
    padding-inline: 0;
    padding-top: 0;
    justify-content: normal;
    width: 0;
    height: 0;
  }
}
.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
}

.header-logo {
  padding-top: 26px;
  padding-left: 15px;
}

.header-navigation-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  text-align: center;
  margin-top: 162px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 45px;
}

@media (min-width: 321px) {
  .header-navigation-head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 0;
    column-gap: 25px;
  }
}

.header-navigation-item:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid #EAD6BD;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
@media (min-width: 321px) {
  .header-navigation-item:hover {
    padding-bottom: 0px;
    border-bottom: none;
    transition: 0;
  }
}

.header-other-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 321px) {
  .header-other-navigation {
    position: static;
    flex-direction: row;
    vertical-align: middle;
    column-gap: 25px;
  }
}

hr {
  width: 280px;
  height: 0.5px;
  background-color: #DCDCDC;
  border: 0;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

@media (min-width: 321px) {
  hr {
    display: none;
  }
}
.header-other-navigation-number {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-inline: 45px;
}
@media (min-width: 321px) {
  .header-other-navigation-number {
    display: flex;
    margin-top: 0;
    white-space: nowrap;
    margin-inline: 0;
    column-gap: 25px;
  }
}

.header-navigation-number {
  -webkit-box-ordinal-group: -31;
  -ms-flex-order: -32;
  order: -1;
}
@media (min-width: 321px) {
  .header-navigation-number {
    order: 1;
  }
}

.number {
  padding-block: 5px;
  padding-left: 14px;
}
@media (min-width: 321px) {
  .number {

  }
}

.navigation-links {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  padding-bottom: 20px;
}
@media (min-width: 321px) {
  .navigation-links {
    padding-bottom: 0;
    display: flex;
    order: 0;
    column-gap: 25px;
  }
}

.navigation-cart {
  -webkit-box-ordinal-group: -1;
  -ms-flex-order: -2;
  order: -2;
  fill: #000;
  text-decoration: none;
}

.header-navigation-profile {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  fill: #000;
  text-decoration: none;
}

.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 22px;
  height: 12px;
  cursor: pointer;
  padding-top: 35px;
  padding-right: 15px;
  z-index: 50;
}

.burger-menu.active {
  margin-top: 25px;
  margin-right: 15px;
}

.burger.active span {
  transform: scale(0);
}

.burger-menu.active::before {
  content: "";
  position: absolute;
  background-color: #000;
  width: 24px;
  bottom: 45%;
  transform: rotate(-45deg) translate(0, -50%);
  height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-menu.active::after {
  width: 24px;
  height: 1px;
  top: 50%;
  transform: rotate(45deg) translate(0, 50%);
  background-color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-menu span {
  background-color: #fff;
  width: 22px;
  height: 2.2px;
}

.burger-menu.active span {
  background-color: #fff;
  width: 22px;
  height: 2.2px;
  display: none;
}

.burger-menu:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2.2px;
  background-color: #fff;
  width: 15px;
}